footer 
    .container
        .row
            .col-lg-2.col-sm-4.col-xs-6.icons.grid-footer
                a.img(href="index.html")
                    img(src="E:/works/Icclients/dist/imgs/footer-ic-.png", alt="")
                .social-icon
                    ul.list-unstyled
                        li
                            a(href="#")
                                i.fa.fa-facebook  
                        li
                            a(href="#")
                                i.fa.fa-twitter  
                        li
                            a(href="#")
                                i.fa.fa-pinterest  
                        li
                            a(href="#")
                                i.fa.fa-google-plus  
                        li
                            a(href="#")
                                i.fa.fa-instagram  
            .col-lg-2.col-sm-4.col-xs-6.grid-footer   
                ul.list-unstyled.links
                    li
                        h4 Our Story
                    li  
                        a(href="who-we-are.pug") who we are
                    li  
                        a(href="mission-vision.pug") mission and vision
                    li  
                        a(href="values-strategy.pug") values and strategy
                    li  
                        a(href="who-we-are.pug") histroy and leadership
                    li  
                        a(href="clients-markets.pug") clients & markets
                    li 
                        a(href="certifications.pug") certifications 
            .col-lg-2.col-sm-4.col-xs-6.grid-footer
                ul.list-unstyled.links
                    li 
                        h4 Our Operation
                    li 
                        a(href="r-d.pug") r & d
                    li 
                        a(href="marketing-sales.pug") marketing & sales
                    li 
                        a(href="pre-production.pug") per-production
                    li 
                        a(href="manufacturing.pug") manufacturing
                    li 
                        a(href="post-production.pug") post production
                    li 
                        a(href="laboratory.pug") laboratory
            .col-lg-2.col-sm-4.col-xs-6.our-impact-links.grid-footer  
                ul.list-unstyled.links
                    li 
                        h4 Our Impact
                    li 
                        a(href="sustainability.pug") sustainability
                    li 
                        a(href="csr.pug") csr    
            .col-lg-2.col-sm-4.col-xs-6.grid-footer
                ul.list-unstyled.links
                    li 
                        h4 Our Media
                    li 
                        a(href="news.pug") news
                    li 
                        a(href="gallery.pug") gallery
            .col-lg-2.col-sm-4.col-xs-6.grid-footer
                .contact-us
                    h4 Contact info
                    div 
                        a(href="contact-us.pug") 
                            i.fa.fa-home
                            p 
                                | Plot 1, 2 & 3B, Block 22008 
                                br  
                                | Industrial Zone BG 
                                br 
                                | El-Obour City 
                                br 
                                | Qalioubeya, Egypt.
                    div 
                        a(href="#") 
                            i.fa.fa-phone
                            p 
                                | +20244874385
                                br  
                                | +20244874353 
                                br 
                                | +20244874131 
                    div 
                        a(href="#") 
                            i.fa.fa-envelope
                            p info@tcgarments.com      
        .copyright.text-center
            p Designed and Developed by
                a(href="https://www.linkedin.com/in/abdel-elrahman-raaft-922475158/") Abdel-Rahman Raaft

