header
    //- Swiper
    .swiper-container
        .swiper-wrapper
            .swiper-slide
                img(src="E:/works/Icclients/dist/imgs/VIDEO.gif", alt="")
            .swiper-slide
                img(src="E:/works/Icclients/dist/imgs/1.jpg", alt="")
            .swiper-slide
                img(src="E:/works/Icclients/dist/imgs/2.jpg", alt="")
            .swiper-slide
                img(src="E:/works/Icclients/dist/imgs/3.jpg", alt="")
        //- Add Pagination
        .swiper-pagination