//- Owl-Carowsel
.home-header
    .owl-carousel.owl-theme.owl-carousel1
        .item
            img(src="E:/works/Icclients/dist/imgs/VIDEO.gif")
            .content
                .container
                    .img-content
                        h1 T&c garments, the strategic
                            br
                            | partner to global brands
                        span
                            | watch full video 
                            i.fa.fa-play-circle-o    
                    .row.row-bottom
                        .col-xs-6
                            img(src="E:/works/Icclients/dist/imgs/TC1.png", alt="")
                        .col-xs-6
                            a.scroll(data-scroll="our-story")
                                p
                                | scroll down
                                i.fa.fa-arrow-right
        .item
            img(src="E:/works/Icclients/dist/imgs/1.jpg")
            .content
                .container
                    .img-content
                        h1 sustainable environmentally
                            br
                            | friendly technology
                    .row.row-bottom
                        .col-xs-6
                            img(src="E:/works/Icclients/dist/imgs/TC1.png", alt="")
                        .col-xs-6
                            a.scroll(data-scroll="our-story")
                                p
                                | scroll down
                                i.fa.fa-arrow-right
        .item
            img(src="E:/works/Icclients/dist/imgs/2.jpg")
            .content
                .container
                    .img-content
                        h1 100% export oriented
                            br
                            | for clients with
                            br
                            | pre-commitment
                    .row.row-bottom
                        .col-xs-6
                            img(src="E:/works/Icclients/dist/imgs/TC1.png", alt="")
                        .col-xs-6
                            a.scroll(data-scroll="our-story")
                                p
                                | scroll down
                                i.fa.fa-arrow-right
        .item
            img(src="E:/works/Icclients/dist/imgs/3.jpg")
            .content
                .container
                    .img-content
                        h1 generating more
                            br
                            | than 4,000 jobs
                    .row.row-bottom
                        .col-xs-6
                            img(src="E:/works/Icclients/dist/imgs/TC1.png", alt="")
                        .col-xs-6
                            a.scroll(data-scroll="our-story")
                                p
                                | scroll down
                                i.fa.fa-arrow-right                                                