.sidebar
    //- span
    .icon
        span.span1
        span.span2

    //- start menu
    ul.list-unstyled.parent
        li.active
            a(href="index.html") home
        li
            a(href="#") our story
            ul.list-unstyled.none.child
                li  
                    a(href="who-we-are.pug") who we are
                li  
                    a(href="mission-vision.pug") mission and vision
                li  
                    a(href="values-strategy.pug") values and strategy
                li  
                    a(href="who-we-are.pug") histroy and leadership
                li  
                    a(href="clients-markets.pug") clients & markets
                li 
                    a(href="certifications.pug") certifications
        li 
            a(href="#") our operations
            ul.list-unstyled.none.child
                li 
                    a(href="r-d.pug") r & d
                li 
                    a(href="marketing-sales.pug") marketing & sales
                li 
                    a(href="per-production.pug") PRE-PRODUCTION
                li 
                    a(href="manufacturing.pug") manufacturing
                li 
                    a(href="post-production.pug") post production
                li 
                    a(href="laboratory.pug") laboratory
        li 
            a(href="#") our reach
            ul.list-unstyled.none.child
                li 
                    a(href="global-search.pug") global reach
                li 
                    a(href="shareholders.pug") shareholders
        li 
            a(href="#") our imact
            ul.list-unstyled.none
                li 
                    a(href="sustainability.pug") sustainability
                li 
                    a(href="csr.pug") csr
        li
            a(href="#")  our media
            ul.list-unstyled.none.child
                li 
                    a(href="news.pug") news
                li 
                    a(href="gallery.pug") gallery
        li 
            a(href="contact-us.pug") contact us                   