$mainColor: #eb1f25;
$mainTransition: all .2s ease-in-out;

$verySmall: "(max-width: 700px)";
$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 991px)";
$minLarge: "(min-width: 1200px)";
$maxLarge: "(max-width: 1200px)";