$mainColor: #eb1f25;
$secondColor: #0d1e65;
$pColor: #595756d1;
$mainBackground: #f7f7f7;
$mainTransition: all .2s ease-in-out;

$small: "(max-width: 586px)";
$mecroSmall: "(max-width: 600px)";
$verySmall: "(max-width: 700px)";
$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 991px)";
$minLarge: "(min-width: 1200px)";
$maxLarge: "(max-width: 1200px)";