<!DOCTYPE html>
    head
        meta(charset="UTF-8")
        meta(name="viewport", content='width=device-width, initial-scale=1.0')
        meta(http-equiv="X-UA-Copatible", content="ie=edge")
        title T&C
        include layout/style.pug
        include layout/html5-scripts.pug
    body
        .page.home-page
            include layout/sidebar.pug
            include components/navbar.pug
            include components/search.pug
            include layout/home-header.pug
        include layout/scripts.pug
        script.
            var swiper = new Swiper('.swiper-container', {
                spaceBetween: 30,
                centeredSlides: true,
                autoplay: {
                    delay: 2500,
                    disableOnInteraction: false,
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
            });
            $(".swiper-container").height($(window).height())


