<!DOCTYPE html>
    head
        meta(charset="UTF-8")
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(http-equiv="X-UA-Copatible", content="ie=edge")
        title T&C
        include layout/style.pug
        include layout/html5-scripts.pug
    body
        .page.home-page
            include layout/sidebar.pug
            include components/navbar.pug
            include components/search.pug
            include components/video.pug
            include layout/home-header.pug
        include layout/scripts.pug
        script.
            $('.owl-carousel').owlCarousel({
                loop:true,
                margin:0,
                nav:false,
                autoplay: true,
                responsive:{
                    0:{
                        items:1
                    },
                    600:{
                        items:1
                    },
                    1000:{
                        items:1
                    }
                }
            })
            $(".owl-carousel").height($(window).height());
            $(".owl-carousel .owl-item").height($(window).height());
            $(".owl-carousel .item").height($(window).height())
            $(".owl-carousel img").height($(window).height())
