<!DOCTYPE html>
    head
        meta(charset="UTF-8")
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(http-equiv="X-UA-Copatible", content="ie=edge")
        title T&C
        include layout/style.pug
        include layout/html5-scripts.pug
    body
        .page.home-page
            include layout/sidebar.pug
            include components/navbar.pug
            include components/search.pug
            include components/video.pug
            include layout/home-header.pug
            main
                //- our story
                .our-story
                    .container
                        .row
                            .col-md-6
                                .img-content
                                    .title.wow.fadeInUp(data-wow-duration="0.5s")
                                        h3  our story
                                            span committed to innovate
                                    p.wow.fadeInUp(data-wow-duration="0.2s" data-wow-delay="0.2s") T&C Garments is a joint venture company founded by Egyptian Tolba Group and Turkish Tay Group . Established in 2010, we specialize in manufacturing denim garments for leading global brands.
                                    a.wow.fadeInUp(href="who-we-are.pug" data-wow-duration="0.2s" data-wow-delay="0.4s") Read more
                                        |
                                        i.fa.fa-arrow-right
                            .col-md-6
                                .img.wow.fadeInUp(data-wow-duration="0.5s" data-wow-offset="200")
                                    img(src="E:/works/Icclients/dist/imgs/story-01.png")
                //- Our-values
                .our-values
                    .container
                        .title
                            h3 Our values
                                span guiding principles
                        .row
                            .col-md-4
                                .jeans
                                    img(src="E:/works/Icclients/dist/imgs/jeans-home.png", alt="")
                            .col-md-8
                                .jeans-details
                                    .solution-oriented.detail.wow.bounceInLeft(data-wow-duration="0.5s" data-wow-delay="0.5s")
                                        span.wow.bounceInLeft(data-wow-duration="0.5s" data-wow-delay="0.9s")
                                        img.wow.bounceInRight(src="E:/works/Icclients/dist/imgs/solution.png", alt="" data-wow-duration="0.5s" data-wow-delay="0.7s")
                                        .img-content.wow.bounceInRight(data-wow-duration="0.5s" data-wow-delay="0.7s")
                                            h4 Solution Oriented
                                            p Our solution oriented team always has a positive approach from the smallest to largest demand or obstacle, and acts without delay. 
                                    
                                    .equality.detail.wow.bounceInLeft(data-wow-duration="0.5s" data-wow-delay="1.1s")
                                        img.wow.bounceInRight(src="E:/works/Icclients/dist/imgs/jeans-pocket.png", alt="" data-wow-duration="0.6s" data-wow-delay="1.3s")
                                        .img-content.wow.bounceInRight(data-wow-duration="0.5s" data-wow-delay="1.3s")
                                            h4 Equality
                                            p Employees are treated with utmost respect and offered equal opportunities. We have set up a fair reward system for their efforts. 
                                    
                                    .adding-value.detail.wow.bounceInLeft(data-wow-duration="0.5s" data-wow-delay="1.5s")
                                        span.wow.bounceInLeft(data-wow-duration="0.5s" data-wow-delay="1.9")
                                        img.wow.bounceInRight(src="E:/works/Icclients/dist/imgs/jeans-ternup.png", alt="" data-wow-duration="0.5s" data-wow-delay="1.7s")
                                        .img-content.wow.bounceInRight(data-wow-duration="0.5s" data-wow-delay="1.7s")
                                            h4 Adding Value
                                            p We protect the rights of our clients and partners. We contribute to their business and services by adding value.
                                    
                                    .environmentally-responsible.detail.wow.bounceInLeft(data-wow-duration="0.5s" data-wow-delay="2.1s")
                                        img.wow.bounceInRight(src="E:/works/Icclients/dist/imgs/jeans-knee.png", alt="" data-wow-duration="0.5s" data-wow-delay="2.3s")
                                        .img-content.wow.bounceInRight(data-wow-duration="0.5s" data-wow-delay="2.3s")
                                            h4  Environmentally
                                                br
                                                | Responsible
                                            p In compliance with global environmental standards, our production facilities have recreation areas and ETP (Effluent Treatment Plan) for long-term maintenance of the ecosystem components and functions.
                                    
                                    .sustainability.detail.wow.bounceInLeft(data-wow-duration="0.5s" data-wow-delay="2.5s")
                                        img.wow.bounceInRight(src="E:/works/Icclients/dist/imgs/sustainable.png", alt="" data-wow-duration="0.5s" data-wow-delay="2.7s")
                                        .img-content.wow.bounceInRight(data-wow-duration="0.5s" data-wow-delay="2.7s")
                                            h4 Sustainability
                                            p We protect the rights of our clients and partners. We contribute to their business and services by adding value.
                                    
                                    .transparency.detail.wow.bounceInLeft(data-wow-duration="0.5s" data-wow-delay="2.9s")
                                        span.wow.bounceInLeft(data-wow-duration="0.5s" data-wow-delay="3.3s")
                                        img.wow.bounceInRight(src="E:/works/Icclients/dist/imgs/jeans-ternup.png", alt="" data-wow-duration="0.5s" data-wow-delay="3.1s")
                                        .img-content.wow.bounceInRight(data-wow-duration="0.5s" data-wow-delay="3.1s")
                                            h4 Transparency
                                            p Transparency is integral in every aspect of our business, we operate and manage in an open, communicable and accountable manner.
                //- glance
                .glance
                    .container
                        .title
                            h3 t&c
                                span at a glance
                        ul.list-unstyled
                            li.grid-1
                                span 4000+
                                p Employees
                            li.grid-1
                                span 68,000 m2
                                p Land Area
                            li.grid-1.grid-3
                                span 7.5M Garments
                                p Yearly Production Capacity
                            li.grid-1.grid-4
                                span 30+
                                p Countries of Export
                            li.grid-1.grid-5
                                span 100%
                                p Export-Oriented
                //- Our-core-business
                .our-business
                    .container
                        .title
                            h3 operation process
                                span our core business
                            p Our operation process consists of marketing and sales, pre-production, manufacturing and post-production. We take pride in our state of the art technology and highly skilled manufacturing team.
                    //- Swiper
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide 
                                a(href="#")
                                    img(src="E:/works/Icclients/dist/imgs/marketing&sales2.jpg", alt="")
                                    .img-content
                                        | marketing & sales    
                            .swiper-slide 
                                a(href="#")
                                    img(src="E:/works/Icclients/dist/imgs/pre-production.jpg", alt="")
                                    .img-content
                                        | pre-productions 
                            .swiper-slide 
                                a(href="#")
                                    img(src="E:/works/Icclients/dist/imgs/opp-1.jpg", alt="")
                                    .img-content
                                        | manufacturing
                            .swiper-slide 
                                a(href="#")
                                    img(src="E:/works/Icclients/dist/imgs/post-production.jpg", alt="")
                                    .img-content
                                        | post-production
                            .swiper-slide 
                                a(href="#")
                                    img(src="E:/works/Icclients/dist/imgs/development1.jpg", alt="")
                                    .img-content
                                        | r&d
                            .swiper-slide 
                                a(href="#")
                                    img(src="E:/works/Icclients/dist/imgs/laboratory.jpg", alt="")
                                    .img-content
                                        | laboratory
                        //- add arrows
                        .swiper-button-next
                            i.fa.fa-chevron-right
                        .swiper-button-prev
                            i.fa.fa-chevron-left
                //- our-global
                .our-global
                    .container
                        .title
                            h3 our global reach
                                span export oriented
                        .row.back-white
                            .col-sm-8
                                img.wow.fadeInUp(src="E:/works/Icclients/dist/imgs/cuntries-map.gif", alt="" data-wow-duration="0.3s" data-wow-delay="0.3s")    
                            .col-sm-4
                                .img-content.wow.fadeInUp(data-wow-duration="0.3s" data-wow-delay="0.5s")
                                    .content
                                        h2
                                            span +
                                            | 30
                                        p COUNTRIES OF EXPORT OVER THE WORLD
                //- our-clients
                .our-clients
                    .container
                        .title
                            h2.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.1s") some of our clients
                            p.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.3s") Some of the most reputable apparel retailers in the world
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide 
                                    .imgs
                                        img.img1(src="E:/works/Icclients/dist/imgs/ุณ.png", alt="")
                                        img.img2(src="E:/works/Icclients/dist/imgs/customers-leves.png", alt="")
                                .swiper-slide 
                                    .imgs
                                        img.img1(src="E:/works/Icclients/dist/imgs/lee-logo-pink.png", alt="")
                                        img.img2(src="E:/works/Icclients/dist/imgs/lee-logo.png", alt="")
                                .swiper-slide 
                                    .imgs
                                        img.img1(src="E:/works/Icclients/dist/imgs/Wrangler_2-red.png", alt="")
                                        img.img2(src="E:/works/Icclients/dist/imgs/Wrangler_2.png", alt="")
                                .swiper-slide 
                                    .imgs
                                        img.img1(src="E:/works/Icclients/dist/imgs/ann taylor.png", alt="")
                                        img.img2(src="E:/works/Icclients/dist/imgs/anntaylor.png", alt="")
                                .swiper-slide 
                                    .imgs
                                        img.img1(src="E:/works/Icclients/dist/imgs/marks&spencer.png", alt="")
                                        img.img2(src="E:/works/Icclients/dist/imgs/marks&spencer (1).png", alt="")
                                .swiper-slide 
                                    .imgs
                                        img.img1(src="E:/works/Icclients/dist/imgs/jones-new york.png", alt="")
                                        img.img2(src="E:/works/Icclients/dist/imgs/jones.png", alt="")
                                .swiper-slide 
                                    .imgs
                                        img.img1(src="E:/works/Icclients/dist/imgs/inditex.png", alt="")
                                        img.img2(src="E:/works/Icclients/dist/imgs/inditex (1).png", alt="")
                                .swiper-slide 
                                    .imgs
                                        img.img1(src="E:/works/Icclients/dist/imgs/OJG.png", alt="")
                                        img.img2(src="E:/works/Icclients/dist/imgs/OJG (1).png", alt="")
                                .swiper-slide 
                                    .imgs
                                        img.img1(src="E:/works/Icclients/dist/imgs/UNIQLO.png", alt="")
                                        img.img2(src="E:/works/Icclients/dist/imgs/UNIQLO (1).png", alt="")
                            //- Add Pagination
                            .swiper-pagination
                //- our-impact
                .our-impact
                    .container
                        .row
                            .col-sm-6
                                .img.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.2s")
                                    img(src="E:/works/Icclients/dist/imgs/jeans-n.png")
                            .col-sm-6
                                .img-content
                                    .title
                                        h3.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.4s")  OUR IMPACT
                                            span SUSTAINABILITY
                                    p.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.6s") As a business we are committed to serve the environment and society as a whole. We ultimately believe in a world where companies will only succeed if they address global issues such as poverty and climate change.
                                    a.wow.fadeInUp(href="who-we-are.pug" data-wow-duration="0.5s" data-wow-delay="0.8s") Know more
                                        |
                                        i.fa.fa-arrow-right
                //- footer
                include layout/footer.pug
        include layout/scripts.pug
        script.
            $('.owl-carousel').owlCarousel({
                loop:true,
                margin:0,
                nav:false,
                autoplay: true,
                responsive:{
                    0:{
                        items:1
                    },
                    600:{
                        items:1
                    },
                    1000:{
                        items:1
                    }
                }
            })
            $(".owl-carousel.owl-carousel1").height($(window).height());
            $(".owl-carousel.owl-carousel1 .owl-item").height($(window).height());
            $(".owl-carousel.owl-carousel1 .item").height($(window).height())
            $(".owl-carousel.owl-carousel1 img").height($(window).height())
            //------------------------- swiper -----------------------------//
            $(document).ready(function () {
                var swiper = new Swiper('.our-clients .swiper-container', {
                    slidesPerView: 5,
                    spaceBetween: 30,
                    slidesPerGroup: 1,
                    loop: false,
                    loopFillGroupWithBlank: true,
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                    },
                    breakpoints: {
                        350: {
                            slidesPerView: 2,
                            spaceBetween: 20,
                        },
                        576: {
                            slidesPerView: 3,
                            spaceBetween: 50,
                        },
                        992: {
                            slidesPerView: 5,
                            spaceBetween: 50,
                        },
                    },
                });
                //------------------------- swiper -----------------------------//
                    var swiper = new Swiper('.our-business .swiper-container', {
                    slidesPerView: 3,
                    spaceBetween: 10,
                    slidesPerGroup: 1,
                    loop: false,
                    loopFillGroupWithBlank: true,
                    navigation: {
                        nextEl: '.swiper-button-next i.fa-chevron-right',
                        prevEl: '.swiper-button-prev i.fa-chevron-left ',
                    },
                    breakpoints: {
                        0: {
                            slidesPerView: 1.5,
                            spaceBetween: 15,
                        },
                        580: {
                            slidesPerView: 2
                        },
                        767: {
                            slidesPerView: 3
                        },
                        992: {
                            slidesPerView: 3
                        },
                    },
                });
            })
            new WOW().init();