.sidebar {
    background-color: #140e30;
    height: 100vh;
    width: 450px;
    position: fixed;
    text-transform: uppercase;
    left: -450px;
    padding: 30px 20px 0 30px;
    transition: $mainTransition;
    -webkit-transition: $mainTransition;
    -moz-transition: $mainTransition;
    -ms-transition: $mainTransition;
    -o-transition: $mainTransition;
    z-index: 555555555555555;
    .icon {
        @include icon
    }
    ul {
        margin-bottom: 0;
        &.parent {
            margin-left: 70px;
            height: 100%;
            margin-top: 40px;
            li {
                font-size: 17px;
                padding: 8px 0;
                position: relative;
                a {
                    color: white;
                }
                &:hover {
                    a {   
                        color: $mainColor;
                        transition: $mainTransition;
                        -webkit-transition: $mainTransition;
                        -moz-transition: $mainTransition;
                        -ms-transition: $mainTransition;
                        -o-transition: $mainTransition;
                    }
                }
                .child {
                    li {
                        a {
                            color: #b6b4bd;
                            &:hover {
                                color: $mainColor;
                                transition: $mainTransition;
                                -webkit-transition: $mainTransition;
                                -moz-transition: $mainTransition;
                                -ms-transition: $mainTransition;
                                -o-transition: $mainTransition;
                            }
                        }
                    }
                }
            }
        }
        &.child {
            margin-left: 20px;
            li {
                font-size: 12px;
            }
        }
        a {
            text-decoration: none;
        }
    }
}

.left {
    left: 0;
}

.none {
    display: none;
}

.sidebar .active::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    background: $mainColor;
    left: -70px;
    top: 21px;
}



// Start media
@media #{$verySmall} {
    .sidebar {
        width: 100%;
        left: -750px;
    }

    .left {
        left: 0 !important;
    }

}