@mixin icon {
    padding-top: 5px;
    width: 35px;
    float: right;
    cursor: pointer;
    height: 25px;
    span {
        background-color: white;
        float: right;
        width: 30px;
        height: 2px;
        display: block;
        cursor: pointer;
        &.span1 {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
        }
        &.span2 {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            margin-top: -2px;
        }    
    }
}