nav {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 25px 10px;
    z-index: 88888;
    .bar {
        cursor: pointer; 
        float: left; 
        span {
            display: block;
            background: white;
            margin-bottom: 8px;
            width: 33px;
            height: 2px;  
        }
    }
    .search  {
        i {
            float: right;
            cursor: pointer;
            font-size: 20px;  
            color: white;      
        }
    }
}