nav
    .container
        .row
            .col-xs-6      
                .bar       
                    span
                    span
                    span
                img(src="E:/works/Icclients/dist/imgs/TC1.png", alt="")    
            .col-xs-6.search
                i.fa.fa-search(aria-hidden='true')                