.input-search
    .icon.icon2
        span.span1
        span.span2
    .container
            .parent
                .child-search.row
                    .col-xs-12
                        i.fa.fa-search(aria-hidden='true')
                        input(type="text", placeholder="Search")