.video
    .icon.icon3
        span.span1
        span.span2
    video(width="80%," controls='', autoplay='', muted='')
        source(src='E:/works/Icclients/dist/imgs/video.mpeg', type='video/mp4')
        source(src='E:/works/Icclients/dist/imgs/video.mpeg', type='video/ogg')
        source(src='E:/works/Icclients/dist/imgs/video.mpeg', type='video/webm')
